<pep-page-layout [addPadding]="true">
    <ng-container pep-top-area>
        <pep-top-bar title="NGX-lib Automation Testing Page">
            <div header-start-content>
                <!-- Add components you want after the title -->
            </div>
            <div header-end-content>
                <!-- Add components you want at the right side -->
            </div>
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <pep-color value="{{Value}}" label="{{this.initialValues.label}}" [disabled]="IsDisabled" xAlignment="{{this.initialValues.xAlignment}}" type="{{this.initialValues.type}}" [showTitle]="ShowTitle"
            [showAAComplient]="ShowAA" (valueChange)="valueChange()"></pep-color>

        <div class="centered spaced" data-qa="style change btn">
            <button (click)="changeComponent()">
                change component
            </button>
        </div>


        <div class="centered spaced" data-qa="next-test">
            <button (click)="gotoCheckbox()">
                back to checkbox
            </button>
        </div>


        <p data-qa="auto-data">{{valueToPrint}}</p>

    </ng-container>
</pep-page-layout>