<pep-page-layout [addPadding]="true">
    <ng-container pep-top-area>
        <pep-top-bar title="NGX-lib Automation Testing Page">
            <div header-start-content>
                <!-- Add components you want after the title -->
            </div>
            <div header-end-content>
                <!-- Add components you want at the right side -->
            </div>
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <div class="centered spaced">
            <pep-date [value]="ValueDate" label="{{this.initialValues.label}}"
                type="{{this.initialValues.type}}" [mandatory]="IsMandatory" [disabled]="IsDisabled"
                textColor="{{this.initialValues.textColor}}" xAlignment="{{this.initialValues.xAlignment}}"
                [showTitle]="ShowTitle" [renderTitle]="RenderTitle" [renderError]="RenderError"
                [renderSymbol]="RenderSymbol" (valueChange)="valueChange()">
            </pep-date>
        </div>

        <div class="centered spaced" data-qa="style change btn">
            <button (click)="changeComponent()">
                change component
            </button>
        </div>

        <div class="centered spaced" data-qa="style change btn">
            <button (click)="resetDate()">
                reset date to 01/01/2020
            </button>
        </div>

        <div class="centered spaced" data-qa="next-test">
            <button (click)="gotoColor()">
                back to color
            </button>
        </div>


        <p data-qa="auto-data">{{valueToPrint}}</p>

    </ng-container>
</pep-page-layout>