<pep-page-layout [addPadding]="true">
    <ng-container pep-top-area>
        <pep-top-bar title="NGX-lib Automation Testing Page">
            <div header-start-content>
                <!-- Add components you want after the title -->
            </div>
            <div header-end-content>
                <!-- Add components you want at the right side -->
            </div>
        </pep-top-bar>
    </ng-container>

    <pep-textbox value="some text...">
    </pep-textbox>
    <!-- label="text" type="text" [mandatory]="false" [disabled]="false" textColor="" -->
    <!-- xAlignment="left" [showTitle]="true" [renderTitle]="true" [renderError]="true" [renderSymbol]="true" -->
    <!-- (valueChange)="valueChange($event)" -->
</pep-page-layout>




<!-- visible -->
<!-- (fileChange)="fileChange($event)" (elementClick)="elementClick($event)" -->